/// Background color used in the tooltips.
$scrollytelling-tooltip-bg-color: black !default;
$scrollytelling-invert-tooltip-bg-color: white !default;
$scrollytelling-sharing-size: 40px !default;
$scrollytelling-fa-size: 30px !default;
$scrollytelling-nav-color: white !default;
$scrollytelling-invert-nav-color: black !default;

ul.scrolly-nav-box {
  position: absolute;
  list-style-type: none;
  z-index: 5;
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;
  }
}

@mixin scrollytelling-indicator {
  margin: 0;
  cursor: pointer;
  color: $scrollytelling-nav-color;
  font-size: 16px;
  text-transform: uppercase;
  font-family: sourcesanspro;
  letter-spacing: 1px;
  line-height: $scrollytelling-fa-size;
  height: $scrollytelling-sharing-size;

  @include desktop {
    letter-spacing: 3px;
  }
}

@import "./navigation/navigation";
@import "./navigation/mobile_navigation";
@import "./navigation/options";
@import "./navigation/entry";
@import "./navigation/parent_page";
@import "./navigation/home_button";
@import "./navigation/mobile_overrides";
