/// Background color used in the tooltips.
$scrollytelling-tooltip-bg-color: black !default;
$scrollytelling-invert-tooltip-bg-color: white !default;
$scrollytelling-sharing-size: 40px !default;
$scrollytelling-fa-size: 30px !default;
$scrollytelling-nav-color: white !default;
$scrollytelling-invert-nav-color: black !default;

@mixin scrollytelling-indicator {
  cursor: pointer;
  color: $scrollytelling-nav-color;
  font-size: 16px;
  text-transform: uppercase;
  font-family: sourcesanspro;
  text-shadow: 1px 1px 4px #2b2b2b;
  letter-spacing: 1px;
  line-height: $scrollytelling-fa-size;
  height: $scrollytelling-sharing-size;
}

@import "./navigation/navigation";
@import "./navigation/mobile";
@import "./navigation/options";
@import "./navigation/entry";
@import "./navigation/parent_page";
