/// Background color used in the tooltips.
$scrollytelling-tooltip-bg-color: black !default;
$scrollytelling-invert-tooltip-bg-color: white !default;
$scrollytelling-sharing-size: 40px !default;
$scrollytelling-fa-size: 30px !default;
$scrollytelling-invert-nav-color: black !default;

@import "./navigation/navigation";
@import "./navigation/mobile";
@import "./navigation/options";
@import "./navigation/entry";
@import "./navigation/parent_page";
