/// Background color used in the tooltips.
$scrollytelling-tooltip-bg-color: black !default;
$scrollytelling-invert-tooltip-bg-color: white !default;
$scrollytelling-sharing-size: 40px !default;

@import "./navigation/navigation";
@import "./navigation/mobile";
@import "./navigation/options";
@import "./navigation/credits";
