.entry {
  .indicator {
    left: 2%;
    bottom: 2%;
    padding: 0;
    @include scrollytelling-indicator;
  }

  .indicator.invert {
    color: $scrollytelling-invert-nav-color;
  }

  .scroll_indicator:before {
    content: "\f0ab";
    font-family: "FontAwesome";
    font-size: 26px;
    margin-right: .5em;
    background-image: none;
  }

  .scroll_indicator.invert:before {
    color: $scrollytelling-invert-nav-color;
    background-image: none;
  }
}
