.entry {
  .indicator {
    @include scrollytelling-indicator;
    left: 100px;
    bottom: 20px;
  }

  .indicator.invert {
    color: $scrollytelling-invert-nav-color;
  }

  .scroll_indicator:before {
    content: "\f0ab";
    font-family: "FontAwesome";
    font-size: 16px;
    margin-right: .25em;
    background-image: none;
  }

  .scroll_indicator.invert:before {
    color: $scrollytelling-invert-nav-color;
    background-image: none;
  }
}
