ul.scrollytelling-home_button {
  @include scrollytelling-indicator;
  left: 100px;
  top: 20px;

  a {
    color: $scrollytelling-nav-color;

    .page-invert & {
      color: $scrollytelling-invert-nav-color;
    }
  }

  a:before {
    content: "\f0a8";
    font-family: "FontAwesome";
    font-size: 16px;
    margin-right: .25em;
    background-image: none;

    .page-invert & {
      color: $scrollytelling-invert-nav-color;
    }
  }
}
