.navigation_mobile {
  .parent_page {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 6%;
    left: 12px;
    width: 40px;
    height: 40px;
  }

  .parent_page:before {
    content: "\f0a8";
    font-family: "FontAwesome";
    font-size: 26px;
  }

  .parent_page:after {
    display: none;
  }

  .overview_mobile .credits a,
  .imprint_mobile .credits a,
  .sharing_mobile .credits a {
    margin-top: 0;
    color: inherit;
    display: inline;
  }

  &.active {
    .menu.index {
      &:before {
        font-family: "FontAwesome";
        content: "\f00d";
        font-size: 30px;
      }
    }
  }
  .menu.index,
  .menu.sharing,
  .menu.imprint,

  .overview_mobile:after,
  .imprint_mobile:after,
  .sharing_mobile:after {
    background-image: none;
  }

  .menu.index {
    &:before {
      font-family: "FontAwesome";
      content: "\f0c9";
      font-size: 30px;
    }
  }

  .menu.sharing {
    &:before {
      font-family: "FontAwesome";
      content: "\f045";
      font-size: 30px;
    }
  }

  .menu.imprint {
    &:before {
      font-family: "FontAwesome";
      content: "\f05a";
      font-size: 30px;
    }
  }
}
