.navigation_mobile {
  .parent_page {
    display: none; /* hide here because we include it in all nav */
  }

  .overview_mobile .credits a,
  .imprint_mobile .credits a,
  .sharing_mobile .credits a {
    margin-top: 0;
    color: inherit;
    display: inline;
  }

  &.active {
    .menu.index {
      &:before {
        font-family: "FontAwesome";
        content: "\f00d";
        font-size: $scrollytelling-fa-size;
      }
    }
  }
  .menu.index,
  .menu.sharing,
  .menu.imprint,

  .overview_mobile:after,
  .imprint_mobile:after,
  .sharing_mobile:after {
    background-image: none;
  }

  .menu.index {
    &:before {
      font-family: "FontAwesome";
      content: "\f0c9";
      font-size: $scrollytelling-fa-size;
    }
  }

  .menu.sharing {
    &:before {
      font-family: "FontAwesome";
      content: "\f045";
      font-size: $scrollytelling-fa-size;
    }
  }

  .menu.imprint {
    &:before {
      font-family: "FontAwesome";
      content: "\f05a";
      font-size: $scrollytelling-fa-size;
    }
  }
}

.navigation_mobile.page-invert {
  .menu.index:before {
    color: $scrollytelling-invert-nav-color;
  }
}

.navigation_mobile.page-invert.active {
  .menu.index:before {
    color: white;
  }
}
