.navigation_mobile {
  .parent_page {
    display: none; /* hide here because we include it in all nav */
  }

  .menu {
    width: auto;
    height: auto;
    right: 20px;

    &.index:before {
      font-family: "FontAwesome";
      content: "\f0c9";
      font-size: 20px;
    }

    &.sharing:before {
      font-family: "FontAwesome";
      content: "\f1e0";
      font-size: $scrollytelling-fa-size;
    }

    &.imprint:before {
      font-family: "FontAwesome";
      content: "\f05a";
      font-size: $scrollytelling-fa-size;
    }
  }

  .imprint_mobile:after,
  .menu.imprint,
  .menu.index,
  .menu.sharing,
  .overview_mobile:after,
  .sharing_mobile:after {
    background-image: none;
  }

  .imprint_mobile .credits a,
  .overview_mobile .credits a,
  .sharing_mobile .credits a {
    margin-top: 0;
    color: inherit;
    display: inline;
  }

  &.active {
    .sharing_mobile {
      a.share.facebook {
        p:before {
          font-family: "FontAwesome";
          content: "\f082";
          margin-right: 12px;
        }
      }

      a.share.twitter {
        p:before {
          font-family: "FontAwesome";
          content: "\f081";
          margin-right: 12px;
        }
      }

      a.share.whatsapp {
        img {
          width: 18px;
          height: 18px;
          border: none;
          float: left;
          margin-right: 10px;
          padding-top: 4px;
        }
      }

      li {
        background-color: darkgrey;
        font-family: sourcesanspro;

        > a {
          color: white;
          padding-top: 10px;
          height: 50px;
          margin-left: 24px;
        }

        > a:before {
          display: none;
        }

        p {
          margin: 0;
        }
      }
    }

    .menu.index {
      &:before {
        content: "\f00d";
      }
    }
  }

  &.page-invert {
    .menu.index:before {
      color: $scrollytelling-invert-nav-color;
    }
  }

  &.page-invert.active {
    .menu.index:before {
      color: white;
    }
  }
}
