@media screen and (max-width: 768px) {
  #scrollytelling-pageflow-navigation,
  ul.scrollytelling-sharing {
    display: none;
  }
}

#scrollytelling-pageflow-navigation {
  right: 2.3%;
  position: absolute;
  z-index: 100;
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative;
  }

  li:hover {
    a span {
      width: 10px;
      height: 10px;
      margin: -5px 0 0 -5px;
    }

    .scrollytelling-pageflow-navigation-tooltip {
      transition: opacity 0.2s ease-in;
      width: auto;
      opacity: 1;
      display: block;

      &:empty {
        display: none;
      }
    }
  }

  a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;

    span {
      border-radius: 50%;
      position: absolute;
      z-index: 1;
      height: 4px;
      width: 4px;
      border: 0;
      background: white;
      left: 50%;
      top: 50%;
      margin: -2px 0 0 -2px;
      transition: all 0.1s ease-in-out;
    }

    &.active span {
      height: 12px;
      width: 12px;
      margin: -6px 0 0 -6px;
      border-radius: 100%;
    }
  }

  .scrollytelling-pageflow-navigation-tooltip {
    right: 20px;
    position: absolute;
    top: -7px;
    color: white;
    font-size: 14px;
    white-space: nowrap;
    max-width: 220px;
    opacity: 0;
    width: 0;
    cursor: pointer;
    line-height: 1;
    display: none;

    background-color: $scrollytelling-tooltip-bg-color;
    padding: 6px;
    padding-right: 20px;
    border-radius: 3px;

    &:after {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-left-color: $scrollytelling-tooltip-bg-color;
      border-width: 5px;
      margin-top: -5px;
    }
  }

  .page-invert & {
    a span {
      background: $scrollytelling-tooltip-bg-color;
    }

    .scrollytelling-pageflow-navigation-tooltip {
      color: $scrollytelling-tooltip-bg-color;
      background-color: $scrollytelling-invert-tooltip-bg-color;

      &:after {
        border-left-color: $scrollytelling-invert-tooltip-bg-color;
      }
    }
  }
}
