ul.scrollytelling-sharing,
ul.scrollytelling-options {

  a {
    width: $scrollytelling-sharing-size;
    height: $scrollytelling-sharing-size;

    text-decoration: none;
    position: relative;
    display: inline-block;

    font-family: "FontAwesome";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    opacity: 0.8;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }

    &:before {
      color: #fff;
      font-size: 28px;
      line-height: $scrollytelling-sharing-size;
      width: $scrollytelling-sharing-size;
      text-align: center;
      position: absolute;
      left: 0;

      .page-invert & {
        color: $scrollytelling-invert-nav-color;
      }
    }
  }
}

ul.scrollytelling-sharing {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 200px;
  max-width: 80%;
  height: 40px;
  z-index: 5;
  text-align: right;
  margin: 0;

  li {
    display: inline;
  }

  #share-tw:before { content: "\f099"; }
  #share-fb:before { content: "\f082"; }
}

.onsite ul.scrollytelling-sharing {
  display: none;
}

ul.scrollytelling-options {
  position: absolute;
  bottom: 2%;
  right: 22px;
  z-index: 5;
  list-style-type: none;
  margin: 0;

  .audio-playing:before { content: "\f028"; }
  .audio-muted:before { content: "\f026"; }
}
