.parent_page {
  @include scrollytelling-indicator;
  left: 100px;
  bottom: 70px;
  opacity: 0;
  transition: opacity 1s ease;

  &:before {
    content: "\f0a8";
    font-family: "FontAwesome";
    margin-right: .5em;
  }

  &.is_visible {
    opacity: 1;
    transition: opacity 0.5s ease 2.5s;
  }
}

.page-invert .parent_page {
  color: $scrollytelling-invert-nav-color;
}
