.parent_page {
  left: 8%;
  bottom: 5%;
  visibility: hidden;
  @include transform(translate3d(0, -100px, 0));
  @include transition(transform 0.4s ease, visibility 0.4s, right 250ms);
  @include scrollytelling-indicator;

  &:before {
    content: "\f0a8";
    font-family: "FontAwesome";
    margin-right: .5em;
  }

  &.is_visible {
    visibility: visible;
    @include transform(translate3d(0, 0, 0));
  }
}

.page-invert .parent_page {
  color: $scrollytelling-invert-nav-color;
}
