<nav id="scrollytelling-pageflow-navigation">
  <ul>
    <% entry.pages.displayed_in_navigation.each do |page| %>
      <li><a href="#<%= page.perma_id %>" data-page-id="<%= page.id %>"><span></span></a><div class="scrollytelling-pageflow-navigation-tooltip"><%= page.configuration["title"] %></div></li>
    <% end %>
  </ul>
</nav>
